
/* Here is file : choose.css */

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #eee;
}

.header {
	background-color: lightyellow;
	width: 760px;
	margin: 20px auto;
	border-radius: 12px;
	border: 2px solid brown;
}

.wallpaper {
	background-color: white;
	width: 760px;
	height: auto;
	margin: auto;
	border-radius: 12px;
	border: 2px solid black;
}

#a-link-header {
	text-decoration: none;
	color: brown;
}

#h2-header {
	padding: 20px 20px;
}

.header:hover {
	background-color: white;
	border: 2px solid blue;
}

#a-link-header:hover {
	color: blue;
}

/* all images */
.all-img {
	background-color: auto;
	height: 381px;
	border-radius: 12px;
	margin: 10px 10px 10px 10px;
}

.img-redact {
	width: 736px;
	height: auto;
	border-radius: 12px;
	border: 2px solid black;
}

/* choose answer */
.questions {}

.h3-questions {
	/*border: 2px solid black;*/
	border-radius: 12px;
	text-align: justify;
	font-size: 24px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
}

.h3-questions-color {
	color: darkblue;
}

.ul-choose-answer {
	width: 715px;
	background-color: rgb(240, 240, 255);
	margin: 10px 10px 10px 10px;
	border: 2px solid black;
	padding: 10px 10px 10px 10px;
	border-radius: 12px;
	font-size: 24px;
}

.li-choose-answer {
	background-color: lightblue;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
	border-radius: 12px;
}

.li-choose-answer-middle {
	background-color: rgb(200, 240, 250);
	margin-top: 10px;
	margin-bottom: 10px;
}

/* result btn */
.show-result {
	width: 760px;
	background-color: auto;
	margin: 0px auto 0px auto;
	padding: 10px 0px 10px 0px;
	/*border: 2px solid black;*/
	/*border-radius: 12px;*/
	text-align: center;

}

.btn-show-result {
	background-color: darkred;
	color: gold;
	border: none;
	font-size: 24px;
	padding: 4px 20px 4px 20px;
	text-shadow: 0px 2px 3px black;
	border: 2px solid black;
	border-radius: 12px;
	cursor: pointer;

}

/* other */
ul, li {
	list-style: none;
}

fieldset {
	border: none;
}









