
/* Here is File: footer.css */

footer {
	background-color: #222;
	width: 760px;
	height: auto;
	margin: 0px auto 10px auto;
	padding: 20px auto;
	border: 2px solid black;
	border-radius: 12px;   
}

.nav-footer {
	padding: 12px 0px 10px 0px;
}

.ul-nav-footer {
	text-align: center;	
}

.li-nav-footer {
	display: inline-block;
}

.a-link-nav-footer {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 18px;
	font-size: 24px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 1px 3px black;
}

.a-link-nav-footer:hover {
	color: silver;
	text-shadow: 0px 1px 3px black;
}