* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("../img/naruto-shippuden-teen-ninjas-of-konoha-s314qet1asqy7imx.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-position: top center;
}

.container {
	width: 800px;
	height: auto;
	margin: auto;
}

#h2-begin-test {
	background-color: lightyellow;
	color: blue;
	width: 560px;
	height: auto;
	margin: 20px auto 20px auto;
	padding: 20px 0px 20px 20px;
	border-radius: 12px;
	border: 1px solid black;
}

.btn-around {
	width: 560px;
	height: auto;
	margin: auto;
	text-align: center;
	padding: 0px 20px;
}

#btn-begin-test {
	background-color: rgb(20, 160, 20);
	color: white;
	text-shadow: 0px 1px 1px black;
	font-size: 32px;
	cursor: pointer; 
	width: 240px;
	height: 60px;
	margin: auto; 
	border: none;
	border: 1px solid black;
	border-radius: 12px;
}

#btn-begin-test:hover {
	background-color: rgb(182, 60, 202);
}

#a-link-inside-btn {
	text-decoration: none;
}

