/* Here is file: return.css */

.header {
	background-color: lightyellow;
	width: 760px;
	margin: 20px auto;
	border-radius: 12px;
	border: 2px solid brown;
}

#a-link-header {
	text-decoration: none;
	color: brown;
}

#h2-header {
	padding: 20px 20px;
}

.header:hover {
	background-color: white;
	border: 2px solid blue;
}

#a-link-header:hover {
	color: blue;
}
